/* User Page Navbar Styles */
.user-page-navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 8px 2vw;
  width: 100%;
  gap: 4px;
  box-sizing: border-box;
  position: relative; /* For the pseudo-element */
  overflow: hidden;
}

.navbar-section-link {
  padding: 3px 6px;
  background-color: #111d4a; /* Light Blue */
  color: #adeee3; /* Black for better visibility */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.69rem;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(30, 30, 30, 0.1);
  white-space: nowrap;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-section-link:hover {
  background-color: #adeee3; /* Darker Light Blue */
  color: #111d4a;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.15);
}


.user-page-navbar:hover .navbar-navigate-text {
  transform: scale(1.05);
  letter-spacing: 0.75px;
}
