/* User Page Navbar Styles */
.user-page-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E6E6E6; /* Light gray for better contrast with the header */
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.15);
}

.navbar-section-link {
  margin: 0 15px;
  padding: 10px 15px;
  background-color: #008080; /* Deep Teal */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(30, 30, 30, 0.1);
}

.navbar-section-link:hover {
  background-color: #006666; /* Darker Teal */
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.15);
}

.navbar-navigate-text {
  margin-right: 15px;
  font-weight: 600;
  color: #B7410E; /* Rust Red */
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.user-page-navbar:hover .navbar-navigate-text {
  transform: scale(1.05);
  letter-spacing: 1.5px;
}
