.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.p-4 {
  padding: 1rem;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.min-h-screen {
  min-height: 100vh;
}

.p-2 {
  padding: 0.5rem;
}

.header-container {
  background-color: #800000; /* Maroon strip */
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f0f0f0; /* Light background color */
  padding: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid #d32f2f; /* Border below the header */
}

.logo {
  width: 300px; /* Increased logo size */
  height: auto;
  margin-right: 2rem;
}

.header h1 {
  font-size: 2.5rem; /* Larger title */
  color: black; /* Black title */
}
